<h2 style="color:red">Are you sure you want to delete that product?</h2>
<form action="/delete/{{id}}" method="POST">
    <button type="submit" class="btn btn-danger">Yes</button>
    <a href="/"><button type="button" class="btn" style="border: 2px solid #333">Cancel</button></a>
</form>
